* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1120px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.4vw;
  &--slider {
    position: relative;
    overflow: hidden;
    width: 59em;
    @include for-size(phone-up) {
      height: 40em;
    }
    @include for-size(tablet-portrait-up) {
      height: 30em;
    }
  }
}

.wrapper {
  width: 100%;
  background: $main-backgroud-color;
}

.wrap {
  display: none;
  @include for-size(phone-up) {
    display: flex;
  }
}
.wrap__arrow {
  height: 31px;
  width: 21px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

  &--left {
    background-image: url('../img/arrow_left.svg');
    margin-right: 24px;
  }

  &--right {
    background-image: url('../img/arrow_right.svg');
    margin-left: 24px;
  }
}

.slides {
  @include for-size(phone-up) {
    position: absolute;
    top: 0;
    left: 0;
    width: 185rem;
  }
}

.article {
    width: 59em;
    padding: 20px 12px;
    display: inline-block;
    @include for-size(phone-up) {
      width: 29em;
    }
    @include for-size(tablet-portrait-up) {
      width: 19.5em;
    }

  &__title {
    text-transform: uppercase;
    font-size: 2em;
    min-height: 3rem;
    line-height: 1.5em;
    @include for-size(phone-up) {
      font-size: 1.5em;
    }
    @include for-size(tablet-portrait-up) {
      font-size: 0.9em;
    }
  }

  &__button {
    @include reset-link;
    font-size: 0.9rem;
    padding: 10px 30px 10px 15px;
    background-color: $button-background-color;
    border-radius: 20px;
    color: $button-font-color;
    float: right;
    position: relative;

    &:hover {
      background-color: $hover-color;
    }

    &-img {
      height: 19px;
      width: 13px;
      background-image: url('../img/arrow_white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      top: 8px;
      left: 125px;
      position: absolute;
    }
  }

  &__img {
    width: 100%;
  }
}

.hidden {
  display: none;
}
