.logo {
  flex: 0 1 60%;
  text-align: right;
  height: 2.8rem;
  padding: 5px 40px;

  img {
    height: 200%;
  }
}

.search-bar {
  flex: 0 1 40%;
  text-align: right;
}

.search-bar__input{
  border: 1px solid #d8d8d8;
  border-radius: 17px;//mixin webki itd
  height: 33px;
  width: 204px;
  padding: 0 10px;
  font-style: italic;
  -webkit-box-shadow: 35px 0px 0px 0px rgba(0,0,0,1);//get to mixin
  -moz-box-shadow: 35px 0px 0px 0px rgba(0,0,0,1);
  box-shadow: 35px 0px 0px 0px rgba(0,0,0,1);
}

.search-bar__ico{
  color: #fff;
  cursor: pointer;
}

header {
  font-weight: 100;

  h1,
  nav {
    flex: 0 1 100%;
    text-transform: uppercase;
  }

  nav {
    border-bottom: 3px solid #000;
    margin-top: 30px;
  }

  ul {
    padding: 0;

    li {
      padding: 0 1.7rem;

      &:nth-child(1) {
        padding-left: 0;
      }

      &:nth-child(4) {
        width: 11.5rem;
        position: relative;

        &:after {
          content: '';
          display: block;
          height: 40px;
          width: 15.5rem;
          background-color: #fff;
          position: absolute;
          top: 1rem;
          left: -2rem;
        }
      }

        &:nth-child(7) {
          padding-right: 0;
        }
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 4.5rem;
    font-weight: inherit;
    padding-top: 2rem;
  }
