.logo {
  flex: 0 1 80%;
  text-align: center;
  height: 5rem;
  padding: 5px 0px;
  @include for-size(phone-up) {
    flex: 0 1 50%;
    text-align: right;
  }
  @include for-size(tablet-landscape-up) {
    flex: 0 1 60%;
    padding: 5px 40px;
  }

  &__img {
    height: 100%;
  }
}

.menu-mobile{
  // text-align: left;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
  &:hover{
    .menu-mobile__bar{
      background-color: $hover-color;
    }
  }
  @include for-size(tablet-landscape-up) {
    display: none;
  }
  &__bar {
    width: 35px;
    height: 5px;
    background-color: $main-color;
    margin: 6px 0;
    transition: 0.4s;
  }
  &--change{
    .menu-mobile__bar{
      &--first {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
         transform: rotate(-45deg) translate(-9px, 6px) ;
      }
      &--second {
        opacity: 0;
      }
      &--third {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
      }
    }

  }
}

.search {
  flex: 0 1 100%;
  padding-top: 34px;
  @include for-size(phone-up) {
    flex: 0 1 40%;
    padding: 5px 2px 34px 4px;
  }

  &-bar {
    width: 240px;
    margin: 0 auto;
    @include for-size(phone-up) {
      float: right;
    }

    &__input {
      border: 1px solid $imput-border-color;
      border-radius: 17px; //mixin webki itd
      height: 33px;
      width: 204px;
      padding: 0 10px;
      font-style: italic;
      -webkit-box-shadow: 35px 0 0 0 rgba(0,0,0,1); //get to mixin
      -moz-box-shadow: 35px 0 0 0 rgba(0,0,0,1);
      box-shadow: 35px 0 0 0 rgba(0,0,0,1);
    }

    &__ico {
      color: $button-font-color;
      cursor: pointer;
      padding: 5px;
      font-size: 18px;
      z-index: 3;
    }
  }
}

.header-nav {
  flex: 0 1 100%;
  position: relative;
}

.menu-main {
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 100;
  margin: 14px 0;
  padding: 0px 0 22px 0;
  background-color: $main-backgroud-color;
  border: 1px solid $imput-border-color;
  top: -157px;
  left: 11em;
  @include for-size(phone-up) {
    top: -90px;
    left: 6em;
  }
  @include for-size(tablet-landscape-up) {
    position: static;
    display: block;
    border: none;
    border-bottom: 3px solid $main-color;
  }

  &__item {
    font-size: 19px;
    padding: 10px 20px;
    list-style-type: none;
    @include for-size(tablet-landscape-up) {
      @include reset-list;
      padding: 0;
      text-align: center;
      width: 13.5%;
    }

    &--first {
      text-align: left;
      width: 12%;
    }

    &--center {
      display: none;
      @include for-size(tablet-landscape-up){
      display: inline-block;
      width: 11.5rem;
      position: relative;
  }
      &:after {
        content: '';
        display: block;
        height: 40px;
        width: 14rem;
        background-color: $main-backgroud-color;
        position: absolute;
        top: 1rem;
      }
    }
    &--last {
      text-align: right;
      width: 15%;
    }
  }

  &__link {
    @include reset-link;
    &:hover {
      color: $hover-color;
    }
  }
}

.motto {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  padding-top: 1rem;
  margin: 0.67em 0;
  text-transform: uppercase;
  flex: 0 1 100%;
  @include for-size(phone-up) {
    font-size: 3rem;
  }
  @include for-size(tablet-portrait-up) {
    font-size: 4rem;
  }
  @include for-size(tablet-landscape-up) {
  font-size: 4.5rem;
  }
}
