.logo {
  flex: 0 1 60%;
  text-align: right;
  height: 2.8rem;
  padding: 5px 40px;

  &__img {
    height: 200%;
  }
}

.search-bar {
  flex: 0 1 40%;
  text-align: right;
}

.search-bar__input{
  border: 1px solid $imput-border-color;
  border-radius: 17px;//mixin webki itd
  height: 33px;
  width: 204px;
  padding: 0 10px;
  font-style: italic;
  -webkit-box-shadow: 35px 0px 0px 0px rgba(0,0,0,1);//get to mixin
  -moz-box-shadow: 35px 0px 0px 0px rgba(0,0,0,1);
  box-shadow: 35px 0px 0px 0px rgba(0,0,0,1);
}

.search-bar__ico{
  color: $button-font-color;
  cursor: pointer;
}

.header-nav{
  flex: 0 1 100%;
}

  .menu-main {
    padding: 26px 0;
    border-bottom: 3px solid $main-color;
    text-transform: uppercase;
    font-weight: 100;
    &__item {
      padding: 0 1.7rem;
      @include reset-list;

      &--first {
        padding-left: 0;
      }

      &--center {
        width: 11.5rem;
        position: relative;

        &:after {
          content: '';
          display: block;
          height: 40px;
          width: 15.5rem;
          background-color: $main-backgroud-color;
          position: absolute;
          top: 1rem;
          left: -2rem;
        }
      }

        &--last {
          padding-right: 0;
        }
      }
      &__link{
        @include reset-link;
        &:hover{
        color:  $hover-color;
        }
      }
    }

  h1 {//change for class with reset
    text-align: center;
    font-size: 4.5rem;
    font-weight: 100;
    padding-top: 1.5rem;
    text-transform: uppercase;
    flex: 0 1 100%;
  }
